<<<<<<< HEAD
<center><img src="public\images\desk-exercise.jpg" alt="desk-exercise" style="max-width:100%;height:auto;"></center>


<!--grid -->
<br>
<center>
<div class="container" style="width:1000px;height:1000px;">
  <div class="btn-group-vertical btn-group-justified">
    <div> <a href="/cardio"><button type="button" class="btn btn-primary btn-block">Cardio</button></div></a>
    <div> <a href="/legs"><button type="button" class="btn btn-primary btn-block">Legs</button></div></a>
    <div> <a href="/shoulders_arms"><button type="button" class="btn btn-primary btn-block">Shoulder and Arms</button></div></a>
    <div> <a href="/chest_back_neck"><button type="button" class="btn btn-primary btn-block">Chest, Back, and Neck</button></div></a>
    <div> <a href="/core"><button type="button" class="btn btn-primary btn-block">Core</button></div></a>
  </div>
</div>
</center>


<!--
div class="container-fluid">
  <div class="row">
    <center>
    <div class="col-lg-4"> <a href="/cardio"><button type="button" class="btn btn-success">Cardio</button></div></a>
    <div class="col-lg-4"> <a href="/legs"><button type="button" class="btn btn-success">Legs</button></div></a>
    <div class="col-lg-4"> <a href="/shoulders_arms"><button type="button" class="btn btn-success">Shoulder and Arms</button></div></a>
    </center>
  </div>
  <div class="row">
    <center>
    <div class="col-lg-6"><a href="/chest_back_neck"><button type="button" class="btn btn-success">Chest, Back, and Neck</button></div></a>
    <div class="col-lg-6"><a href="/core"><button type="button" class="btn btn-block">Core</button></div></a>
    </center>
  </div>
</div>
-->
